{#
/**
 * @file
 * Theme override for the localgov_guides_overview pages template.
 */
#}
{%
  set classes = [
    'lgd-guides',
    'lgd-guides--overview',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{{ attach_library('localgov_base/guides') }}

<article{{ attributes.addClass(classes).removeAttribute('role') }}>
  <div class="lgd-container padding-horizontal">
    {{ title_prefix }}
      <h2{{ title_attributes.addClass('lgd-guides__title').setAttribute('id', 'lgd-guides__title') }}>
        {{ guide_overview_title|default('Overview'|t) }}
      </h2>
    {{ title_suffix }}

    {% if content %}
      <div{{ content_attributes.addClass('lgd-guides__content', 'node__content') }}>
        {{ content }}
      </div>
    {% endif %}
  </div>
</article>
