{#
/**
* @file
* Default theme implementation for the guides_prev_next_block block.
*/
#}
<nav class="lgd-guide-prev-next">
  {% if previous_url %}
    <a href="{{ previous_url }}" class="lgd-guide-prev-next__link lgd-guide-prev-next__link--prev" aria-label="{{ 'Previous'|t }}: {{ previous_title }}">{{ 'Previous'|t }}</a>
  {% endif %}
  {% if next_url %}
    <a href="{{ next_url }}" class="lgd-guide-prev-next__link lgd-guide-prev-next__link--next" aria-label="{{ 'Next'|t }}: {{ next_title }}">{{ 'Next'|t }}</a>
  {% endif %}
</nav>
