{#
/**
* @file
* Default theme implementation for the guides_prev_next_block block.
*/
#}

{% 
  set classes = [
    'lgd-prev-next',
    'lgd-prev-next--guides',
  ]
%}

{% if localgov_base_use_css %}
  {{ attach_library('localgov_base/prev-next') }}
{% endif %}

<nav{{ attributes.addClass(classes)}}>
  {% if previous_url %}
    <a href="{{ previous_url }}" class="lgd-prev-next__link lgd-prev-next__link--prev" aria-label="{{ 'Previous'|t }}: {{ previous_title }}">{{ 'Previous'|t }}</a>
  {% endif %}
  {% if next_url %}
    <a href="{{ next_url }}" class="lgd-prev-next__link lgd-prev-next__link--next" aria-label="{{ 'Next'|t }}: {{ next_title }}">{{ 'Next'|t }}</a>
  {% endif %}
</nav>
