{#
/**
* @file
* Default theme implementation of localgov_header_block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% if localgov_base_use_css %}
  {{ attach_library('localgov_base/page-title-block') }}
{% endif %}

{% 
  set classes = [
    'lgd-page-title-block'
  ] 
%}

{% if title and lede['#value'] %}
  {% set container_element = 'hgroup' %}
  {% else %}
    {% set container_element = 'div' %}
{% endif %}

{% if title or lede['#value'] %}
  <{{ container_element }}{{ attributes.addClass(classes) }}>

    {% if title %}
      <h1 class="lgd-page-title-block__title">{{ title }}</h1>
    {% endif %}

    {% if lede['#value'] %}
      <h2 class="lgd-page-title-block__subheader h3">{{ lede['#value'] }}</h2>
    {% endif %}

  </{{ container_element }}>
{% endif %}
