{#
/**
* @file
* Default theme implementation of localgov_header_block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% if not localgov_base_remove_css %}
  {{ attach_library('localgov_base/page-title-block') }}
{% endif %}

{%
  set classes = [
    'lgd-page-title-block'
  ]
%}

{% if title or lede['#value'] %}
  <div{{ attributes.addClass(classes) }}>

    {% if title %}
      <h1 class="lgd-page-title-block__title">
        {{ title }}
        {% if subtitle %}
          <div class="lgd-page-title-block__subtitle">{{ subtitle }}</div>
        {% endif %}
      </h1>
    {% endif %}

    {% if lede %}
      {% if lede['#value'] %}
        <p class="lgd-page-title-block__subheader">{{ lede['#value'] }}</p>
      {% else %}
        {{ lede }}
      {% endif %}
    {% endif %}

  </div>
{% endif %}
